header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
body{
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;      
    background-color: rgb(39, 39, 39);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 2em;
    justify-content: center;
}

.container{
    width: 100%;
    box-sizing: border-box;
    caret-color: transparent;
    background-color: rgb(39, 39, 39);
}
.letra{
    transform-style: preserve-3d;
    min-width: 3em;
    width: 95%;
    min-height: 2em;
    height: 3em;
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: white;
    border: solid 1px gray;
}
.letra.animar{
    animation: zoom 0.2s ease-in-out; 
}

input{
    box-sizing: border-box;
}
input:focus{
    outline: none;
}


@keyframes resaltar{
    0%{
        border-width: 0.5px;
        border-color: lightgray;
    }
    100%{
        border-width: 1px;
        border-color: lightgray;
    }
}

@keyframes zoom{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes girar-yellow{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
        background-color: lightyellow;
    }
}

@keyframes girar-green{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
        background-color: lightgreen;
    }
}

@keyframes girar-gray{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
        background-color: gray;
    }
}

@keyframes win-game{
    0% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(-3rem);
      }
      50% {
        transform: translateY(0rem);
      }
      75% {
        transform: translateY(3rem);
      }
    100% {
        transform: translateY(0);
        
    }
}